{% extends "layout.html.twig" %}
{% block title %}Progress{% endblock %}
{% block content %}
    <div class="row">
        <div class="x">
            <h1>Ur Progress {{ exercise.name }}</h1>
            {% for progress in progresses %}
                <p>Exercise {{ exercise.getName }}: ur weight was {{ user.progress.weight }} KG - {{ user.progress.reps }} REPS - {{ exercise.date }} 
                </p> <a class="btn btn-success" href="progress/{{ exercise.id }}">Edit</a>
                <form method="POST" action="/progress/{{ exercise.id }}">
                    <input type="hidden" id="_method" name="_method" value="DELETE" />
                    <button class="btn btn-danger">Löschen</button>
                </form> 
                <br>
            {% endfor %}
            </div> 
       
        <hr>    
        <a href="/progress/create" class="btn btn-primary">New</a>
        <a href="/" class="btn btn-success home">Home</a>
    </div>
{% endblock %}